.wrapper {
  text-align: center;
  padding-top: 40px;
  margin: 5px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.field-wrapper {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

input {
  border: none;
  border-bottom: 1px solid aquamarine;
  font-size: 20px;
  width: 100%;
}

button {
  border: none;
  border-bottom: 1px solid aquamarine;
  font-size: 20px;
  width: 100%;
  color: aquamarine;
}

.loginform {
  background-color: white;
  text-align: center;
  margin: 10px;
  border: solid aquamarine 2px;
  text-align: left;
  display: inline-block;
  width: 350px;
  height: 650px;
}

h2 {
  margin: 20px;
  color: aquamarine;
  font-size: 30px;
}
